*{
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: black;
    height: 80px;
    position:fixed;
    width: 100%;
    top: 0;
    left:0;
}

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
}

.nav-menu-item {
    font-size: 19px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
}

.nav-link{
    color: white;
    text-decoration: none;
}

.nav-menu-link:hover{
    background-color: #034574;
    transition: 0.5s;
}
.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 20px;
    line-height: 60px;
    border-color: none;
}

.nav-menu{
    display: flex;
    list-style: none;
}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    
}

header {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    margin: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

article {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

img {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.iframe {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    }